@charset "UTF-8";

:root{
    --fonte1: Arial, Verdana, Helvetica, sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}

header, footer{
    background-color: black;
    color: #fff;
    text-align: center;
}

